{extend name="base" /}
{block name="content"}
<style>
    .layui-table-cell {
        height: 100%;
    }
</style>
<xblock>
    <button class="layui-btn" onclick="x_admin_show('添加行业','{:url("admin/industries/add")}',800,600)"><i class="layui-icon"></i>添加</button>
</xblock>
<table id="industriesTable" lay-filter="industries"></table>
<!-- 操作栏 -->
<script type="text/html" id="barindustries">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<!--状态切换-->
<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{d.id}}" title="启用" lay-filter="status" {{ d.status == 1 ? 'checked' : '' }}>
</script>

<script type="text/html" id="image">
    <div><img src="/{{ d.img}}" width="50px" height="50px"></div>
</script>

<script>
    layui.use('table', function(){
        let table = layui.table,
            form = layui.form,
            layer = layui.layer,
            $ = layui.$;
        table.render({
            elem: '#industriesTable',
            cols: [[
                {field: 'id', hide: true},
                {field: 'name',title: '行业名称',edit: 'text'},
                {field: 'img', title: '图片',templet: '#image'},
                {field: 'platform',title: '平台提点比例',edit: 'text'},
                {field: 'shareholder',title: '股东分红比例',edit: 'text'},
                {field: 'area',title: '区域代理佣金比例',edit: 'text'},
                {field: 'area',title: '区域经理佣金比例',edit: 'text'},
                {field: 'self',title: '自购佣金比例',edit: 'text'},
                {field: 'one',title: '一级分销佣金比例',edit: 'text'},
                {field: 'two',title: '二级分销佣金比例',edit: 'text'},
                {field: 'sort', title: '排序',sort: true,edit: 'text',width: 70},
                {field:'status', title:'是否启用', templet: '#statusTpl'},
                {fixed: 'right', title:'操作', toolbar: '#barindustries'}
            ]],
            page: true,
            url: '{:url("admin/industries/get")}'
        });
        //监听状态切换操作
        form.on('checkbox(status)', function(obj){
            $.ajax({
                method: 'POST',
                url: '{:url("admin/industries/toggleStatus")}',
                data: {"id": obj.value, "status": obj.elem.checked === true ? 1:0},
                success: function(res){
                    if(res.code === 1) {
                        layer.alert(res.message);
                    }else if( res.code =0 ){
                        layer.tips(obj.elem.checked === true? '已禁用': '已启用', obj.othis);
                    }
                },
                error: function(){
                    layer.alert("网络连接失败");
                }
            })
        });
        //监听工具条
        table.on('tool(industries)', function(obj){
            let layEvent = obj.event;

            if(layEvent === 'del'){ //删除
                layer.confirm('真的删除么', function(index){
                    $.ajax({
                        type: 'POST',
                        data: obj.data,
                        url: '{:url("admin/industries/del")}',
                        success: function(res){
                            if(res.code === 0) {
                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                            }else {
                                layer.alert(res.message);
                            }
                        },
                        error: function(){
                            layer.alert("请求失败！");
                        },
                        complete: function(){
                            layer.close(index);
                        }
                    });

                });
            }
        });

        table.on('edit(industries)', function(obj){
            console.log(obj);
            $.ajax({
                type: 'POST',
                data: {"id": obj.data.id, "field": obj.field, "value": obj.value},
                url: '{:url("admin/industries/change")}',
                success: function(res){
                    console.log(res);
                    if(res.code !== 0){
                        layer.alert(res.message);
                    }
                },
                error: function(){
                    layer.alert("请求修改失败！");
                }
            })
        });
    });
</script>
{/block}