{extend name="base" /}
{block name="content"}
<blockquote class="layui-elem-quote">
    {$Think.session.store_info.name},欢迎您！
</blockquote>
<fieldset class="layui-elem-field">
    <legend>数据统计</legend>
    <div class="layui-field-box">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div class="layui-carousel x-admin-carousel x-admin-backlog" lay-anim="" lay-indicator="inside" lay-arrow="none" style="width: 100%; height: 90px;">
                        <div carousel-item="">
                            <ul class="layui-row layui-col-space10 layui-this">
                                <li class="layui-col-xs3">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>商品数量</h3>
                                        <p>
                                            <cite>{$good_count}</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>订单总数</h3>
                                        <p>
                                            <cite>{$order_count}</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>今日订单</h3>
                                        <p>
                                            <cite>{$today_order_count}</cite></p>
                                    </a>
                                </li>
                                <li class="layui-col-xs3">
                                    <a href="javascript:;" class="x-admin-backlog-body">
                                        <h3>今日销售</h3>
                                        <p>
                                            <cite>{$today_order_amount}</cite></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>
<div class="layui-fluid">
    <div class="layui-row">
        <div class="layui-col-md6">
            <!-- 订单走势图 -->
            <div id="order" style="width: 100%;height:400px;"></div>
        </div>
        <div class="layui-col-md6">
            <!-- 交易金额走势图 -->
            <div id="amount" style="width: 100%;height:400px;"></div>
        </div>
    </div>
</div>

{load href="/static/js/echarts.min.js" /}
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    let order = echarts.init(document.getElementById('order'));
    let amount = echarts.init(document.getElementById('amount'));

    // 指定图表的配置项和数据
    let orderData = {
        title: {
            text: '订单量统计'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['订单量']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [
                {foreach $tradeData as $key=>$vo }
                    '{$vo.date}',
                {/foreach}
            ]
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'订单量',
                type:'line',
                stack: '总量',
                data:[
                    {foreach $tradeData as $key=>$vo }
                        '{$vo.count}',
                    {/foreach}
                ]
            }
        ]
    };

    let amountData = {
        title: {
            text: '交易金额统计'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data:['交易金额']
        },
        grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
        },
        toolbox: {
            feature: {
                saveAsImage: {}
            }
        },
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: [
                {foreach $tradeData as $key=>$vo }
                    '{$vo.date}',
                {/foreach}
            ]
        },
        yAxis: {
            type: 'value'
        },
        series: [
            {
                name:'交易金额',
                type:'line',
                stack: '总量',
                data:[
                    {foreach $tradeData as $key=>$vo }
                        '{$vo.amount}',
                    {/foreach}
                ]
            }
        ]
    };


    // 使用刚指定的配置项和数据显示图表。
    order.setOption(orderData);
    amount.setOption(amountData);
</script>
{/block}