{extend name="window" /}

{block name="content"}
<form class="layui-form">
    <div class="layui-form-item">
        <label for="L_name" class="layui-form-label">分类名称</label>
        <div class="layui-input-inline">
            <input type="text" id="L_name" name="name" required="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="L_desc" class="layui-form-label">分类描述</label>
        <div class="layui-input-inline">
            <input type="text" id="L_desc" name="desc" required="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="L_pid" class="layui-form-label">上级分类</label>
        <div class="layui-input-inline">
            <select id="L_pid" name="pid">
                <option value="0">顶级分类</option>
                {volist name="oneLevelCategory"  id="category"}
                <option value="{$category.id}">{$category.name}</option>
                {/volist}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label for="L_img" class="layui-form-label">分类图片</label>
        <div class="layui-input-inline">
            <input type="text" id="L_img" name="banner" required="" autocomplete="off" class="layui-input">
            <img style="width: 120px; height: 120px;margin-top: 10px;" id="preview">
        </div>
        <div class="layui-form-mid layui-word-aux">
            <a class="layui-btn" id="img_upload">上传</a>
            <span class="x-red">*</span> 图片尺寸：120 x 120,大小不能超过200KB
        </div>
    </div>
    <div class="layui-form-item">
        <label for="L_order" class="layui-form-label">
            <span class="x-red">*</span>排序
        </label>
        <div class="layui-input-inline">
            <input type="text" id="L_order" name="order" required="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="L_add" class="layui-form-label">
        </label>
        <button id="L_add" class="layui-btn" lay-filter="add" lay-submit="">
            增加
        </button>
    </div>
</form>
<script>
    layui.use(['form','layer','upload'], function(){
        let $ = layui.$,
            form = layui.form,
            layer = layui.layer,
            upload = layui.upload;

        //监听提交
        form.on('submit(add)', function(data){
            console.log(data);
            $.ajax({
                type: 'POST',
                data: data.field,
                url: "{:url('admin/good_category/insert')}",
                success: function(res){
                    if(res.code === 0) {
                        layer.alert(res.message, {icon: 6}, function () {
                            x_admin_close();
                            x_admin_father_reload();
                        });
                    }else {
                        layer.alert(res.message);
                    }
                }
            });
            return false;
        });
        let imgUpload = upload.render({
            elem: '#img_upload' //绑定元素
            ,url: '{:url("admin/good_category/upload")}' //上传接口
            ,field: 'image'
            ,size: 200
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#preview').attr('src', result); //图片链接（base64）
                });
            }
            ,choose: function(){
                layer.load();
            }
            ,done: function(res){
                if(res.code !== 0){
                    layer.closeAll("loading")
                    layer.alert(res.message);
                }else {
                    $("#L_img").val(res.data);
                    layer.closeAll("loading")
                }
            }
            ,error: function(){
                layer.closeAll("loading")
                layer.alert("请求异常！");
            }
        });
    });
</script>
{/block}